// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right20 {
    margin-right: 20px !important;
}
.indent {
    margin-left: 20px;
}
.payment_type .radio {
  display: inline !important;
  margin-left: 10px;
  margin-right: 30px;
}
