.bs-collection
  %table.table.table-hover
    %tr
      %th
        Cash
      %th 
        Cheque
      %th 
        Submission Date
      %th
        Submited By
    - @submissions.each do |submission|
      %tr 
        %th= submission.amount_collected_by_cash
        %th= submission.amount_collected_by_cheque
        %th= submission.submission_date
        %th= submission.user.email
