.bs-submissions
  %table.table.table-hover
    %tr
      %th
        Submission Date
      %th 
        Cash Amount Submitted
      %th 
        Cheque Amount Submitted
    - @submissions.each do |submission|
      %tr
        %th= submission.submission_date
        %th= submission.amount_collected_by_cash
        %th= submission.amount_collected_by_cheque
