.bs-pending
  %table.table.table-hover
    %tr
      %th
        Cash
      %th 
        Cheque
      %th 
        Submission Date
      %th
        Submited By
    - @submissions.each do |submission|
      %tr 
        %th= submission.cash_amount_pending
        %th= submission.cheque_amount_pending
        %th= submission.submission_date
        %th= submission.user.email
